body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  font: 14px;
  background: #faf8ef;
}

ol, ul {
  padding-left: 30px;
}


.status {
  margin-bottom: 10px;
}

#game-title {
  background: transparent;
  text-align: center;
  font-size: 50px;
  color: #796c65;
  min-height: 50px;
}

#game-score {
  background: transparent;
  text-align: center;
  color: #796c65;
  min-height: 50px;
  margin-top : -7%;
  vertical-align: middle;
}


#game-info {
  margin-bottom: 20px;
  background: transparent;
  padding: 7px;
  text-align: center;
  color: #796c65;
  min-height: 50px;
  border-radius: 7px;
  vertical-align: middle;
}


.info {
  display: block;
  margin-top: 15px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  width: 25%;
  height:100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 3%;
  background: #E2D8D0;
  border-radius: 5%;
  display: table;
}

.game-board {
  border-radius : 3%;
}
