.Menu{
  position: absolute;
  top: 3%;
  right: 5%;
}

.m-item{
  position: absolute;
  top: 0;
  right: 0;
  
  width: 5.5em;

  padding: 0.2em;
  
  border-radius: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 1s;
  color: #1c2833;
  font-size: 1.2em;
  z-index: 2;
}

.m-logo{
  background-color: #E2D8D0;
  position: absolute;
  top: 0;
  right: 0;

  width: 5.5em;
  height: 2em;

  padding: 0.2em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 1s;
  z-index: 3;
}

.open-1{
  right: 21.4em;
}
.open-2{
  right: 15.8em;
}
.open-3{
  right: 10.2em;
}
.open-4{
  right: 4.6em;
}

.mopen-1{
  top: 2em;
}
.mopen-2{
  top: 4em;
}
.mopen-3{
  top: 6em;
}
.mopen-4{
  top: 8em;
}